body{
    font-family: var(--font-secondary);
    color: var(--color-ccw-grey);
 }
 
 a {
    font-weight: 700;
 }
 
 a:hover {
    text-decoration: none;
    color: #ebecfd;
 }
 
 .menu--main > .menu-item {
    font-size: .77rem;
    margin-left: .05rem;
    margin-right: .05rem;
 }
 
 .menu--main > .menu-item a {
 font-weight: 400;
 }
 
 .menu--main > .menu-item a:link, .menu--main > .menu-item a:visited, .menu--main > .menu-item a:hover, .menu--main > .menu-item a:active {
    text-decoration: none; 
 }
 
 menu--main > .menu-item > li > a::after {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 800;
    line-height: 14px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
 }
 
 .lgd-header {
    padding-top: clamp(2.06rem, 10vw, var(--section-spacing-vertical-header));
    padding-bottom: clamp(2.06rem, 10vw, var(--section-spacing-vertical-header));
 }
 
 .lgd-header__inner{
    justify-content: start;
 }
 
 .branding__item--logo{
    width: 300px;
 }

 h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading{
   text-align: center;
   margin-top: var(--vertical-rhythm-spacing);
}

.view-id-slider{
   width: 90vw;
   position: relative;
   left: calc(-36vw + 50%);
}

.lgd-footer__post-footer{
   font-size: var(--font-size-smaller);
   width: 100%;
   color: white;
   text-align: left;
   padding-top: clamp(1.3rem,10vw,var(--section-spacing-vertical-post-footer));
   padding-bottom: clamp(10vw,var(--section-spacing-vertical-post-footer));
   transition: all 0.4s ease-in-out;
}
.region-lower-footer-second{
   display: none;
}
.lower-footer-social-icons{
   display: flex;
   font-size: var(--font-size-medium);
   padding-left: 50%;
}
.lower-footer-social-icons a{
   font-size: var(--font-size-medium);
}
.lower-footer-social-icons .icon{
   margin-left: 20px;
   text-decoration: none;
}
.lower-footer-social-icon-facebook, .lower-footer-social-icon-twitter, .lower-footer-social-icon-instagram{
   width: 30%;
}

.footer-widget{
   width: 12%;
   margin-right: 60px;
}

.footer-widget:last-child{
   margin-right: 0px;
}

/*Blog*/

.lgd-teaser__content--blog h3{
   display: none;
}
.view-blog .col-1, .view-blog .col-2, .view-blog .col-3{
   padding-right: 3.75rem;
}
.view-blog .feed-icons{
   display: none;
}
.block-field-blocknodeblogfield-blog-headline{
   font-size: var(--font-size-h3);
   font-weight: 500;
   color: #0b0c0c;
}
.node--type-blog .layout--onecol{
   border-bottom-style: solid;
   border-bottom-color: lightgray;
   border-bottom-width: 1px;
   border-left-color: lightgray;
   border-left-style: solid;
   border-left-width: 1px;
   border-right-style: solid;
   border-right-color: lightgray;
   border-right-width: 1px;
   border-top-width: 0px;
}
.node--type-blog .layout--onecol .field--name-field-blog-headline,
.node--type-blog .layout--onecol .field--name-field-blog-date,
.node--type-blog .layout--onecol .field--name-field-blog-author,
.node--type-blog .layout--onecol .field--name-body 
{
   padding: 0 1rem 0 1rem;
}

/*Blog - Recent Posts Sidebar*/
.sidebar .lgd-region__inner > *{
   background-color: white;
 }
.block-views h2{
   font-size: 25px;
   text-align: left;
 }
 .block-views .view-display-id-blog_block a{
   color: #666;
   text-decoration: none;
   line-height: 27px;
   font-weight: 500;
   width: 70%;
   display: block;
   padding: 0 0 3px 0;
 }
 .lgd-region__inner--sidebar-second > a{
   display: none;
 }
